@charset "utf-8";
.none {
	display: none;
}
.hidden {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#headermenu a:hover {
	background-color: #CFC;
}
#annai a{
	background-image: url(img2/annaibotan_r3_c2.gif);
	background-repeat: no-repeat;
	height: 70px;
	display: block;
}
#syoukai a {
	background-image: url(img2/doubutsusyoukaibotan_r3_c4.gif);
	background-repeat: no-repeat;
	display: block;
	height: 70px;
}
#ivent a {
	background-image: url(img2/iventbotan3_r4_c5.gif);
	background-repeat: no-repeat;
	display: block;
	height: 70px;
}
#goods a {
	background-image: url(img2/goodsbotan_r3_c6.gif);
	background-repeat: no-repeat;
	display: block;
	height: 70px;
}
#footermenu a:hover {
	background-color: #CFC;
}
